.key {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}
.value {
  font-size: 14px;
  font-family: sans-serif;
}
.productImgContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.productImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.TableProducts {
  border: 0px solid black;
  margin-top: 2rem;
  box-shadow: 2px 2px 2px 2px #3042e2;
  border-radius: 20px;
}
thead {
  background-color: #3042e2;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
tbody tr td:first-child {
  color: #3042e2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 15px;
}
tbody button {
  width: 60px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}
tbody button:first-child {
  background-color: rgb(48, 48, 45);
  color: white;
  margin-right: 12px;
}
tbody button:nth-child(2) {
  background-color: red;
  color: white;
}
tbody td {
  font-weight: bold;
  color: #3042e2;
  font-size: 14px;
}
